<div class="book book-detail">
  <div class="book-title">
    <span class="italic-sm">Title</span>
    {{@model.title}}
  </div>
  <div class="book-author">
    <span class="italic-sm">Author</span>
    {{@model.author}}
  </div>
  <div class="book-description">
    <span class="italic-sm">Description</span>
    {{@model.description}}
  </div>
</div>