<div class="book-list" {{did-insert this.onDidInsert}}>
  {{#each @books as |book|}}
    <div class="book" role="button" onclick={{fn this.onClickBook book.id}}>
      {{book.title}}
    </div>
  {{/each}}
</div>

{{! Load React component }}
<div class="book-list">
  <div id="react_button"></div>
</div>